@using System
@using TourneyHub.Feature.Tournament.Models
@model TourneyHub.Feature.Tournament.Models.TournamentMatches
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .tournament-stage {
            border: 2px solid black;
            padding: 10px;
            margin-bottom: 20px;
            background-color: rgba(0,0,0,.05);
            color: black;
            border-radius: 10px;
        }

        .participant-match {
            /*display: flex;*/
            align-items: center;
            justify-content: space-between;
            border: 2px solid #ccc;
            margin: 10px 0;
            padding: 10px;
            cursor: pointer;
            text-align: center;
            background-color: white;
        }



        .team-match {
            /*display: flex;*/
            align-items: center;
            justify-content: space-between;
            border: 2px solid #00000059;
            margin: 10px 0;
            padding: 5px;
            cursor: pointer;
            text-align: center;
        }

        .participant {
            border: 1px solid;
            border-radius: 10px;
            margin: 5px;
            background-color: cornsilk;
        }

        .stage-title {
            text-align: center;
            font-weight: bold;
        }

        .data-button,
        .edit-button,
        .delete-result {
            padding: 5px;
            font-size: 12px;
        }
    </style>

</head>
@functions {
    string GetScoresString(List<ParticipantScore> scores, string participantId)
    {
        if (scores != null)
        {
            foreach (var score in scores)
            {
                if (score != null && score.ParticipantId == participantId)
                {
                    return string.Join(", ", score.Scores);
                }
            }
        }

        return String.Empty;
    }
}


<body>
    <div class="container">
        <div class="row">
            @foreach (TournamentStage stage in Model.TournamentStages)
            {
                <div class="col-md-3">
                    <div class="tournament-stage" data-tournament-match-id="@Model.Id">
                        <div class="stage-title">@stage.StageName</div>
                        @if (Model.IsIndividual == true)
                        {
                            foreach (TournamentMatch match in stage.TournamentMatches)
                            {
                                <div class="participant-match" data-participant-match-id="@match.Id">
                                    <h4>@match.MatchName</h4>
                                    <hr />
                                    @if (string.IsNullOrEmpty(match.Winner))
                                    {
                                        <button type="button" class="btn btn-primary data-button" id="data-button" data-toggle="modal" data-target="#dataModal">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary edit-button" data-toggle="modal" data-target="#participantModal">
                                            <i class="fas fa-pencil-alt"></i>
                                        </button>

                                    }
                                    <button type="button" class="btn btn-danger delete-result">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                    <hr />
                                    <div class="participant" data-participant-id="@((match.FirstParticipant != null) ? match.FirstParticipant.Id : null)" data-participant-type="first">
                                        @(match.FirstParticipant == null ? "TBD" : match.FirstParticipant.Name)
                                    </div>
                                    @if (match.FirstParticipant != null)
                                    {
                                        <p>@GetScoresString(match.ParticipantScores, match.FirstParticipant.Id)</p>
                                    }
                                    <div class="participant" data-participant-id="@((match.SecondParticipant != null) ? match.SecondParticipant.Id : null)" data-participant-type="second">
                                        @(match.SecondParticipant == null ? "TBD" : match.SecondParticipant.Name)
                                    </div>
                                    @if (match.SecondParticipant != null)
                                    {
                                        <p>@GetScoresString(match.ParticipantScores, match.SecondParticipant.Id)</p>
                                    }
                                </div>
                            }
                        }
                        else
                        {
                            foreach (TournamentMatch match in stage.TournamentMatches)
                            {
                                <div class="team-match" data-team-match-id="@match.Id">
                                    <h4>@match.MatchName</h4>
                                    <hr />
                                    @if (string.IsNullOrEmpty(match.Winner))
                                    {
                                        <button type="button" class="btn btn-primary data-button" id="data-button" data-toggle="modal" data-target="#dataModal">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary edit-button" data-toggle="modal" data-target="#teamModal">
                                            <i class="fas fa-pencil-alt"></i>
                                        </button>

                                    }
                                    <button type="button" class="btn btn-danger delete-result">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                    <hr />

                                    <div class="participant" data-participant-id="@((match.FirstTeam != null) ? match.FirstTeam.Id : null)" data-participant-type="first">
                                        @(match.FirstTeam == null ? "TBD" : match.FirstTeam.TeamName)
                                    </div>

                                    @if (match.FirstTeam != null)
                                    {
                                        <p>@GetScoresString(match.ParticipantScores, match.FirstTeam.Id)</p>
                                    }

                                    <div class="participant" data-participant-id="@((match.SecondTeam != null) ? match.SecondTeam.Id : null)" data-participant-type="second">
                                        @(match.SecondParticipant == null ? "TBD" : match.SecondTeam.TeamName)
                                    </div>

                                    @if (match.SecondTeam != null)
                                    {
                                        <p>@GetScoresString(match.ParticipantScores, match.SecondTeam.Id)</p>
                                    }
                                </div>
                            }
                        }
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- Data Modal -->
    <div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="dataModalLabel" aria-hidden="true" data-match-id>
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="dataModal">Match Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="matchDate">Match Date and Time</label>
                        <input type="datetime-local" class="form-control" id="matchDate" required>
                    </div>
                    <div class="form-group">
                        <label for="matchLocation">Match Location:</label>
                        <input type="text" class="form-control" id="matchLocation" placeholder="Enter location">
                    </div>
                    <div class="form-group">
                        <label for="matchReferee">Match Referee:</label>
                        <input type="text" class="form-control" id="matchReferee" placeholder="Enter referee">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

    @if (Model.IsIndividual == true)
    {
        <!-- Participant Modal -->
        <div class="modal fade" id="participantModal" tabindex="-1" role="dialog" aria-labelledby="participantModalLabel" aria-hidden="true" data-match-id>
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="participantModalLabel">Participant Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Participants</th>
                                    <th>Score</th>
                                    <th id="addParticipantScoreButton" style="cursor: pointer;">Add Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="participant1Name" data-participant-id>Participant 1</td>
                                    <td><input type="number" class="form-control score-input" placeholder="Score" id="participant1Score"></td>
                                </tr>
                                <tr>
                                    <td id="participant2Name" data-participant-id>Participant 2</td>
                                    <td><input type="number" class="form-control score-input" placeholder="Score" id="participant2Score"></td>
                                </tr>
                            </tbody>
                        </table>
                        <h5>Pick the Winner</h5>
                        <div class="form-group">
                            <label for="winnerSelect">Select Winner:</label>
                            <select class="form-control" id="winnerSelect">
                                <option id="participant1Selection" value="Participant 1">Participant 1</option>
                                <option id="participant2Selection" value="Participant 2">Participant 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>

    }
    else
    {
        <!-- Team Modal -->
        <div class="modal fade" id="teamModal" tabindex="-1" role="dialog" aria-labelledby="teamModalLabel" aria-hidden="true" data-match-id>
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="teamModalLabel">Team Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Participants</th>
                                    <th>Score</th>
                                    <th id="addTeamScoreButton" style="cursor: pointer;">Add Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="participant1Name" data-participant-id>Team 1</td>
                                    <td><input type="number" class="form-control score-input" placeholder="Score" id="participant1Score"></td>
                                </tr>
                                <tr>
                                    <td id="participant2Name" data-participant-id>Team 2</td>
                                    <td><input type="number" class="form-control score-input" placeholder="Score" id="participant2Score"></td>
                                </tr>
                            </tbody>
                        </table>
                        <h5>Pick the Winner</h5>
                        <div class="form-group">
                            <label for="winnerSelect">Select Winner:</label>
                            <select class="form-control" id="winnerSelect">
                                <option value="Participant 1">Team 1</option>
                                <option value="Participant 2">Team 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>
<script>
    $(document).ready(function () {
        $('.participant[data-participant-id]').hover(
            function () {
                var participantId = $(this).data('participant-id');
                $('.participant[data-participant-id="' + participantId + '"]').css('background-color', '#c8e6c9');
            },
            function () {
                var participantId = $(this).data('participant-id');
                $('.participant[data-participant-id="' + participantId + '"]').css('background-color', 'cornsilk');
            }
        );

        $('.team-match').hover(
            function () {
                var participantId = $(this).find('.participant').data('participant-id');
                $('.participant[data-participant-id="' + participantId + '"]').css('background-color', '#c8e6c9');
            },
            function () {
                var participantId = $(this).find('.participant').data('participant-id');
                $('.participant[data-participant-id="' + participantId + '"]').css('background-color', 'cornsilk');
            }
        );
        $('.participant-match #data-button').click(function () {
            var matchId = $(this).closest('.participant-match').data('participant-match-id');

            var modal = $('#dataModal');
            modal.attr('data-match-id', matchId);
            $('#dataModal').modal('show');
        });
        $('.team-match #data-button').click(function () {
            var matchId = $(this).closest('.team-match').data('team-match-id');
            var modal = $('#dataModal');
            modal.attr('data-match-id', matchId);
            $('#dataModal').modal('show');
        });

        $('#dataModal .close-modal-button').click(function () {
            $('#dataModal').modal('hide');
        });

        $('#dataModal .btn-primary').click(function () {
            var matchId = $('#dataModal').attr('data-match-id');
            var matchDate = $('#matchDate').val();
            var matchLocation = $('#matchLocation').val();
            var matchReferee = $('#matchReferee').val();
            $.ajax({
                type: 'POST',
                url: '/api/sitecore/Tournament/AddSchedule',
                contentType: 'application/json',
                data: JSON.stringify({
                    MatchId: matchId,
                    MatchDate: matchDate,
                    MatchLocation: matchLocation,
                    MatchReferee: matchReferee
                }),
                success: function (result) {
                    console.log(result);
                    $('#dataModal').modal('hide');
                    $('.modal-backdrop').remove();
                },
                error: function (error) {
                    console.error(error);
                }
            });
        });
    });

</script>
